opencv-python==4.10.0.84
mediapipe==0.10.14
seaborn==0.13.2
scikit-learn==1.5.1
xgboost==2.1.1
tqdm==4.66.5
ultralytics==8.2.87
roboflow==1.1.44
pickleshare==0.7.5
flask==3.0.3
flask_cors==5.0.0
pymongo==4.10.1
pymongoarrow==1.6.0
python-dotenv==1.0.1
firebase_admin-6.6.0